{% extends '@Modules/financepayment/views/templates/admin/card.html.twig' %}

{% block card_title %}
  {{ 'Signature'|trans }}
{% endblock %}

{% block card_body %}
  <div class="col-lg">
    <div class="display-4 text-center">
      {{ something.some }}
    </div>
    <div class="text-center">
      {{ something.thing }}
    </div>
  </div>
{% endblock %}