{% trans_default_domain 'Module.financepayment.Admin' %}

<div id="reasonModal">
    <div class="body"></div>
</div>
<input type="hidden" id="orderId" name="order_id" value="{{orderId}}" />
<input type="hidden" id="reasonUri" name='reason_uri' value="{{uri.reason}}" />
<input type="hidden" id="updateUri" name='update_uri' value="{{uri.update}}" />